Source: maths-tutor
Section: games
Priority: optional
Maintainer: Nalin.x.Linux <nalin.x.linux@gmail.com>
Vcs-Browser: https://github.com/zendalona/maths-tutor
Vcs-Git: https://github.com/zendalona/maths-tutor.git
Homepage: https://zendalona.com/accessible-maths-tutor
Build-Depends: dh-python, python3, debhelper-compat (= 12)
Standards-Version: 4.2.1

Package: maths-tutor
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-gi, gir1.2-gtk-3.0, python3-speechd, speech-dispatcher, python3-pygame
Description: Accessible Maths-Tutor is a educational game that enhances math 
 skills through an enjoyable gaming experience. Players receive instant 
 feedback and can customize their questions, making it an ideal learning tool 
 for all ages.
 .
 The game is inclusive, catering to both sighted players and those 
 with visual impairments who use screen reader.
